<?xml version='1.0' encoding='utf-8'?>
<Monitornode>
	<Applications Timespan='5'>

		<Application Name='mysqld'>
				<Record Name='process' Provide='process.py' Timespan='3'>
					<Paras>mysqld</Paras>
				</Record>

				<!-- <Record Name='configFile' Provide='config.py' Timespan='120'>
					<Paras>'p1 p2'</Paras>
				</Record> -->
		</Application>

		<Application Name='redis-server'>
				<Record Name='process1' Provide='process.py' Timespan='3'>
					<Paras>redis-server</Paras>
				</Record>

				<!-- <Record Name='configFile' Provide='xulang.py' Timespan='120'>
					<Paras>'p1 p2'</Paras>
				</Record> -->
		</Application>

<!-- 	<Application AppName='xulang' PyName='xulang.py'>
			<Record Name='process' Describe='redis-server task'/>

			<Record Name='configFile' Describe='redis-server config file'/>
	</Application> -->

	</Applications>

	<System>
		<Node Name='bj-127.0.0.1-development' Timespan='120'>
			<Cpu>70</Cpu>
			<Task></Task>
			<Mem>80</Mem>
		</Node>
	</System>
</Monitornode>