<?xml version='1.0' encoding='utf-8'?>
<Monitornode ConIP='192.168.9.222' ConPort='5010'>
	<Applications Timespan='5'>

		<Application Name='fcitx-qimpanel'>
				<Record Name='process' Provide='process.py' Timespan='3'>
					<Paras>fcitx-qimpanel</Paras>
				</Record>

				<!-- <Record Name='configFile' Provide='config.py' Timespan='120'>
					<Paras>'p1 p2'</Paras>
				</Record> -->
		</Application>

		<Application Name='snapd'>
				<Record Name='process1' Provide='process.py' Timespan='3'>
					<Paras>snapd</Paras>
				</Record>

				<!-- <Record Name='configFile' Provide='xulang.py' Timespan='120'>
					<Paras>'p1 p2'</Paras>
				</Record> -->
		</Application>

<!-- 	<Application AppName='xulang' PyName='xulang.py'>
			<Record Name='process' Describe='redis-server task'/>

			<Record Name='configFile' Describe='redis-server config file'/>
	</Application> -->

	</Applications>

	<System>
		<Node Name='bj-home X1 Carbon-development' Timespan='120'>
			<Cpu>70</Cpu>
			<Task></Task>
			<Mem>90</Mem>
			<Id>2017.1.10-132</Id>
		</Node>
	</System>
</Monitornode> 